<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Document</title>
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css"/>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet"/>
    <link href="../assets/desmond.min.css" rel="stylesheet"/>
    <link href="../assets/notion.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
  </head>

  <body id="testing">
    <div class="side-bar media" data-collapse="on" id="sideNavBar"></div>
    <div class="control-icons media" id="sidnav-control">
      <div class="arrow-btn">
        <button class="logo-name__button">
          <i class="bx logo-name__icon" id="logo-name__icon"></i>
        </button>
      </div>
      <div class="menu-btn">
        <button class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <seer-header class="seer-header" data-header="sidenav" id="seer-header">
      <header>
        <div class="navbar:sidenav">
          <div class="flex-item-0"></div>
          <div class="flex-item-1"></div>
          <div class="flex-item-2">
            <div class="right-icons">
              <div class="icon icon-1">
                <i class="fas fa-search"></i>
              </div>
              <div class="icon icon-2">
                <i class="fas fa-user"></i>
              </div>
              <div class="icon icon-3">
                <i class="fas fa-shopping-bag"></i>
              </div>
              <div class="icon icon-4">
                <div class="theme-toggler" id="darkToggle">
                  <label class="theme-switch" for="checkbox">
                    <input id="checkbox" type="checkbox"/>
                    <div class="darkmode-icons:navbar darkmode-icons:navbar icon:solid colormode:solid">
                      <darkmode-icons></darkmode-icons>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar:main">
          <div class="flex-item-0">
            <div class="left-icons">
              <div class="icon icon-0">
                <i class="fas fa-bars"></i>
              </div>
              <div class="icon icon-5">
                <i class="fas fa-user"></i>
              </div>
            </div>
          </div>
          <div class="flex-item-1">
            <div class="img-mobile image">
              <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
              <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
            </div>
          </div>
          <div class="flex-item-2">
            <div class="img-desktop image">
              <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
              <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
            </div>
          </div>
          <div class="flex-item-3">
            <div class="menu">
              <div class="link">Header</div>
              <div class="link">Header</div>
              <div class="link">Header</div>
              <div class="link">Header</div>
              <div class="link">Header</div>
            </div>
          </div>
          <div class="flex-item-4">
            <div class="right-icons">
              <div class="icon icon-1">
                <i class="fas fa-search"></i>
              </div>
              <div class="icon icon-2">
                <i class="fas fa-user"></i>
              </div>
              <div class="icon icon-3">
                <i class="fas fa-shopping-bag"></i>
              </div>
              <div class="icon icon-4">
                <div class="theme-toggler" id="darkToggle">
                  <label class="theme-switch" for="checkbox">
                    <input id="checkbox" type="checkbox"/>
                    <div class="darkmode-icons:navbar darkmode-icons:navbar icon:solid colormode:solid">
                      <darkmode-icons></darkmode-icons>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar:center">
          <div class="navbar:top">
            <div class="flex-item-0">
              <div class="img-desktop image">
                <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
                <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
              </div>
            </div>
          </div>
          <div class="navbar:base">
            <div class="flex-item-1">
              <div class="licons">
                <div class="left-icons">
                  <div class="icon icon-1">
                    <i class="fas fa-search"></i>
                  </div>
                  <div class="icon icon-2">
                    <i class="fas fa-user"></i>
                  </div>
                  <div class="icon icon-3">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <div class="icon icon-4"></div>
                </div>
              </div>
              <div class="img-mobile image d-none">
                <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
                <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
              </div>
            </div>
            <div class="flex-item-2">
              <div class="menu">
                <div class="link">Header</div>
                <div class="link">Header</div>
                <div class="link">Header</div>
                <div class="link">Header</div>
                <div class="link">Header</div>
              </div>
            </div>
            <div class="flex-item-3">
              <div class="right-icons">
                <div class="icon icon-1">
                  <i class="fas fa-search"></i>
                </div>
                <div class="icon icon-2">
                  <i class="fas fa-user"></i>
                </div>
                <div class="icon icon-3">
                  <i class="fas fa-shopping-bag"></i>
                </div>
                <div class="icon icon-4">
                  <div class="flex theme-toggler"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </seer-header>

    <div class="container media" id="main">
      <div class="mxw-10 sin">
        <h1>Smooth Collapsible Sidebar Navigation Example</h1>
        <p class="lead">
          A modern sidebar navigation with smooth expand & collapse transitions,
                                                                                                                                                                                                                                                                                                            					written in CSS/CSS3 and vanilla JavaScript.
        </p>

        <div class="page mt-5 p-4 mx-auto">
          <div id="block-be2ef39cad6b4a7b9323e5d661b095bc">new block</div>
          <div class="something" id="page-index">
            <div id="block-6d55f0a3e06c494e9a42d3a4349643ae">
              <div class="block-wrap" id="sortable">
                <div class="block ui-state-default">Block 1 Content</div>
                <div class="block ui-state-default">Block 2 Content</div>
                <div class="block ui-state-default">Block 3 Content</div>
                <div class="block ui-state-default">Block 4 Content</div>
                <div class="block ui-state-default">Block 5 Content</div>
                <div class="block ui-state-default">Block 6 Content</div>
              </div>

              main content
            </div>
            content here
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../assets/lib.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <!-- <script src="../../../src/build/desmond.js"></script> -->
                                                            	<!-- <script src="../layout/script.js"></script> -->
  <script src="../assets/desmond.js"></script>
  <script>
// var d = new Date();
// var hr = d.getHours();
// var min = d.getMinutes();
// var ampm = "am";
// if( hr > 12 ) {
//     hr -= 12;
//     ampm = "pm";
// }
// var time = "" + hr + o+ min + ampm;

function dirName(val){
  var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var d = new Date();
  var day = days[d.getDay()];
  var hr = d.getHours();
  var min = d.getMinutes();
  if (min < 10) {
      min = "0" + min;
  }
  var ampm = "am";
  if( hr > 12 ) {
      hr -= 12;
      ampm = "pm";
  }
  var date = d.getDate();
  var month = months[d.getMonth()];
  var year = d.getFullYear();
  x  = "" + hr + min + ampm + '-' + date + month + year;
  var caps = x.toUpperCase();
  var base = "jarvis-vault/";
  var core = "CORE-"
  var git = "GIT-"
  var npm = "NPM-"

if( val === "core"){
  var full = base + core + caps;
}
if( val === "git"){
  var full = base + git + caps;
}
if( val === "npm"){
  var full = base + npm + caps;
}
return full;
}
const coreName = dirName("core");
const gitName = dirName("git");
const npmName = dirName("npm");
console.log(coreName);
console.log(gitName);
console.log(npmName);

	</script>
</html>
</html>
</html>
</html>
