<div class="side-bar media" data-collapse="on" id="sideNavBar"></div>
<div class="control-icons media" id="sidnav-control">
  <div class="arrow-btn">
    <button class="logo-name__button">
      <i class="bx logo-name__icon" id="logo-name__icon"></i>
    </button>
  </div>
  <div class="menu-btn">
    <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>
<seer-header class="seer-header" data-header="sidenav" id="seer-header">
  <header>
    <div class="navbar:sidenav">
      <div class="flex-item-0"></div>
      <div class="flex-item-1"></div>
      <div class="flex-item-2">
        <div class="right-icons">
          <div class="icon icon-1">
            <i class="fas fa-search"></i>
          </div>
          <div class="icon icon-2">
            <i class="fas fa-user"></i>
          </div>
          <div class="icon icon-3">
            <i class="fas fa-shopping-bag"></i>
          </div>
          <div class="icon icon-4">
            <div class="theme-toggler" id="darkToggle">
              <label class="theme-switch" for="checkbox">
                <input id="checkbox" type="checkbox"/>
                <div class="darkmode-icons:navbar darkmode-icons:navbar icon:solid colormode:solid">
                  <darkmode-icons></darkmode-icons>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar:main">
      <div class="flex-item-0">
        <div class="left-icons">
          <div class="icon icon-0">
            <i class="fas fa-bars"></i>
          </div>
          <div class="icon icon-5">
            <i class="fas fa-user"></i>
          </div>
        </div>
      </div>
      <div class="flex-item-1">
        <div class="img-mobile image">
          <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
          <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
        </div>
      </div>
      <div class="flex-item-2">
        <div class="img-desktop image">
          <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
          <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
        </div>
      </div>
      <div class="flex-item-3">
        <div class="menu">
          <div class="link">Header</div>
          <div class="link">Header</div>
          <div class="link">Header</div>
          <div class="link">Header</div>
          <div class="link">Header</div>
        </div>
      </div>
      <div class="flex-item-4">
        <div class="right-icons">
          <div class="icon icon-1">
            <i class="fas fa-search"></i>
          </div>
          <div class="icon icon-2">
            <i class="fas fa-user"></i>
          </div>
          <div class="icon icon-3">
            <i class="fas fa-shopping-bag"></i>
          </div>
          <div class="icon icon-4">
            <div class="theme-toggler" id="darkToggle">
              <label class="theme-switch" for="checkbox">
                <input id="checkbox" type="checkbox"/>
                <div class="darkmode-icons:navbar darkmode-icons:navbar icon:solid colormode:solid">
                  <darkmode-icons></darkmode-icons>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar:center">
      <div class="navbar:top">
        <div class="flex-item-0">
          <div class="img-desktop image">
            <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
            <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
          </div>
        </div>
      </div>
      <div class="navbar:base">
        <div class="flex-item-1">
          <div class="licons">
            <div class="left-icons">
              <div class="icon icon-1">
                <i class="fas fa-search"></i>
              </div>
              <div class="icon icon-2">
                <i class="fas fa-user"></i>
              </div>
              <div class="icon icon-3">
                <i class="fas fa-shopping-bag"></i>
              </div>
              <div class="icon icon-4"></div>
            </div>
          </div>
          <div class="img-mobile image d-none">
            <img alt="" class="logo-light d-none" src="logo.png" width="100%"/>
            <img alt="" class="logo-dark d-block" src="logo_d.png" width="100%"/>
          </div>
        </div>
        <div class="flex-item-2">
          <div class="menu">
            <div class="link">Header</div>
            <div class="link">Header</div>
            <div class="link">Header</div>
            <div class="link">Header</div>
            <div class="link">Header</div>
          </div>
        </div>
        <div class="flex-item-3">
          <div class="right-icons">
            <div class="icon icon-1">
              <i class="fas fa-search"></i>
            </div>
            <div class="icon icon-2">
              <i class="fas fa-user"></i>
            </div>
            <div class="icon icon-3">
              <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="icon icon-4">
              <div class="flex theme-toggler"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</seer-header>
